<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Vue Js Basics</title>
	<!-- ALL CSS FILES  -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body class="bg-dark">

	<!-- Vue bind 
			v-bind: attribute name or 
			:attribute name -->

	<section class="header bg-light py-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h1>{{ title }}</h1>
					<p>{{ content }}</p>
					<a v-bind:class="btn.className" :href="btn.link">{{ btn.title }}</a>
				</div>
			</div>
		</div>
	</section>

	<section class="ifelse bg-light py-5">
		<div class="container">
			<div class="row">
				<div class="col-12">

					<p v-if="alert.success" class="alert alert-success">Fill the form !</p>
					<p v-if="alert.warning" class="alert alert-warning">Fill the form !</p>
					<p v-if="alert.danger" class="alert alert-danger">Fill the form !</p>

					<!-- Result Analysis -->

					<h1 v-if="result > 0 && result < 33">You Are Failed.</h1>
					<h1 v-else-if="result > 33 && result < 49">You Got D.</h1>
					<h1 v-else-if="result > 49 && result < 59">You Got C.</h1>
					<h1 v-else-if="result > 59 && result < 69">You Got B.</h1>
					<h1 v-else-if="result > 69 && result < 79">You Got A.</h1>
					<h1 v-else-if="result > 79 && result <= 100">You Got A+.</h1>
					<h1 v-else-if="result > 100">Cross the limit!</h1>

				</div>
			</div>
		</div>
	</section>

	<!-- For Loop -->

	<section class="forloop bg-light py-5">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<ul class="list-group">
						<li v-for="(vegetable, i) in vegetables" class="list-group-item bg-dark text-light">{{i+1}}. {{
							vegetable
							}}
						</li>
					</ul><br>
					<a :class="btn.classList.mclass + ' ' + btn.classList.pclass + ' ' + btn.classList.sclass"
						:href="btn.link"> {{
						btn.title }} </a>
					<br><br>
					<div class="d-flex">
						<label for="">Name :</label>
						<input v-model="name" type="text"><br>
						<label for="">Job :</label>
						<input v-model="job" type="text"><br>
						<label for="">Age :</label>
						<input v-model="age" type="text">
					</div>
					<hr>
					<h1>My name is {{ name }}. I am a {{ job }} developer. I am {{ age }} years old.</h1>
				</div>
			</div>
		</div>
	</section>

	<!-- Event Section -->
	<section class="event-sec bg-light py-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">

					<!-- Event Two Type Call v-on:click or @click -->

					<a v-on:click="title = title1" class="btn btn-primary " href="#">Click</a>

					<a @click="title = 'I am event two.'" class="btn btn-warning " href="#">Click2</a>
					<h2>{{ title }}</h2>
				</div>
			</div>
		</div>
	</section>

	<!-- V-Model Section -->
	<section class="v-model-app bg-light py-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">

					<input type="text" v-model="result">
					<hr>
					<h1 v-if="result > 0 && result < 33">You Are Failed.</h1>
					<h1 v-else-if="result > 32 && result < 49">You Got D.</h1>
					<h1 v-else-if="result > 48 && result < 59">You Got C.</h1>
					<h1 v-else-if="result > 58 && result < 69">You Got B.</h1>
					<h1 v-else-if="result > 68 && result < 79">You Got A.</h1>
					<h1 v-else-if="result > 78 && result <= 100">You Got A+.</h1>
					<h1 v-else-if="result > 100 || result < 0">Invalid Result</h1>

				</div>
			</div>
	</section>


	<!-- Page Builder -->
	<section class="page-builder bg-light py-5">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<h2>Page Builder</h2>

					<h1 :style="'color:' + color +';font-family:'+ff+';'" :class="'text-'+align">{{ title }}</h1>
					<hr>
					<input v-model="title" type="text" id="">
					<input v-model="align" type="radio" name="align" id="Left" value="left"><label
						for="Left">Left</label>

					<input v-model="align" type="radio" name="align" id="Right" value="right"><label
						for="Right">Right</label>

					<input v-model="align" type="radio" name="align" id="Center" value="center"><label
						for="Center">Center</label>

					<input v-model="color" type="color" name="" id="">

					<select v-model="ff" name="" id="">
						<option value="">-select-</option>
						<option value="Comfortaa">Comfortaa</option>
						<option value="ADHE Sans Bold FREE">ADHE Sans Bold FREE</option>
						<option value="Impact">Impact</option>
					</select>
				</div>
			</div>
	</section>











	<!-- JS FILES  -->
	<script src="assets/js/jquery-3.4.1.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/custom.js"></script>

	<!-- Vue Js Load -->
	<script src="assets/js/vue.js"></script>
	<script src="assets/js/vue-router.js"></script>

	<!-- Vue Js Script -->
	<script>

		// Header Section
		let header = new Vue({
			el: '.header',
			data: {
				title: 'We are Vue Js Developer.',
				content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto iste similique, porro fuga molestiae cum quia, et reiciendis sint doloribus nam provident, doloremque animi quis nesciunt sunt! Facere incidunt repudiandae animi laborum soluta ut? Voluptatem dolorum assumenda quibusdam nihil adipisci illum facere et, eos, quam deleniti perferendis blanditiis facilis iure.',

				btn: {
					title: 'Read More',
					link: 'https://facebook.com/iamtheridu',
					className: 'btn btn-primary btn-sm'
				}
			}
		});

		// Ifelse Section
		let ifelse = new Vue({
			el: '.ifelse',
			data: {
				alert: {
					danger: false,
					success: true,
					warning: true
				},

				result: 10
			}
		});

		// Forloop Section
		let forloop = new Vue({
			el: '.forloop',
			data: {
				vegetables: ['Alo', 'Potol', 'Lao', 'Jinga', 'Kumra'],
				btn: {
					title: 'Read More',
					link: 'https://facebook.com/iamtheridu',
					classList: {
						mclass: 'btn',
						pclass: 'btn-danger',
						sclass: 'btn-sm'
					}
				},
				name: null,
				job: null,
				age: null
			}
		});

		// Event Section
		let event = new Vue({
			el: '.event-sec',
			data: {
				title: 'I am Hasibul Hasan',
				title1: 'I am a Vue Js Developer'
			}
		});

		// V-model Result App
		let app = new Vue({
			el: '.v-model-app',
			data: {
				result: null
			}
		});

		// page builder section

		let builder = new Vue({
			el: '.page-builder',
			data: {
				title: null,
				align: null,
				color: null,
				ff: null,
			}
		});



	</script>
</body>

</html>